# Node.js
node_modules/
package-lock.json
yarn.lock

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/.gitkeep

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage
coverage/
